*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 430px) {

    body{
        overflow-x: hidden;
    }
    .grey{
        background-color: rgb(205, 199, 199);
        height: 60vh;
        padding-top: 18%;
        border-top-left-radius: 35px;
          border-top-right-radius: 35px;
          width: 100%;
          /* border: 1px solid blue; */
           overflow: hidden;
    }

    #bckarrow{
        width: 5vw;
        height: 3vh;
        position: absolute;
        top: 5%;
        left: 10%;
          /* border: 1px solid blue; */
    }

    .boss{
          /* border: 1px solid blue; */
          width: 100%;
    }

    .boss img:nth-of-type(2){
          /* border: 1px solid blue; */
           /* width: 100%; */
    }

    .boss a{
        position: absolute;
    }

    .content{
        margin-left: 10%;
        /* margin-top: 4%; */
          /* border: 1px solid blue; */
    }

    .content p{
        margin-top: 9%;
    }

    .separation{
        display: flex;
        justify-content: center;
        gap: 38%;
        margin-top: 30%;
        padding: 20px 10%;
          /* border: 1px solid blue; */
    }

    .tee{
        /* border: 1px solid blue; */
        display: flex;
        justify-content: center;
        gap: 8%;
          /* border: 1px solid blue; */
    }

    .tee img{
        height: 40%;
    }

    .btn{
        display: flex;
        justify-content: center;
        /* border: 1px solid blue; */
        margin-top: 20px;
        margin-left: 35%;
        margin-right: 5%;
        height: 7%;
         gap: 6%;
           /* border: 1px solid blue; */
    }

    .button{
        /* border: 1px solid blue; */
        display: flex;
        justify-content: center;
       
        height: 90px;
          /* border: 1px solid blue; */
        
    }

    .btn button:nth-of-type(1){
        background: #4BAF47;
        color: white;
        width: 50%;
        border-radius: 10px;
        border: none;
        /* height: 1%; */
    }

    .btn a{
          background: #4BAF47;
        color: white;
        width: 50%;
        border-radius: 10px;
        border: none;
        padding-left: 5%;
        padding-top: 3%;
    }

    .btn button:nth-of-type(2){
        background: #AD9439;
        color: white;
        width: 50%;
          border-radius: 7px;
            border: none;
        /* height: 1%; */
    }
}