*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 430px) {
    body{
        background-image: url(bck.png);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .fert{
        /* width: 60%; */
        /* border: 1px solid blue; */
        text-align: center;
    }

       .fert img{
        width: 100%;
    }

    .fert h3{
        position: absolute;
         top: 90px;
        left: 90px;
        font-size: 30px;
        text-align: center;
    }

    .details{
        text-align: center;
        margin-top: 110px;
        width: 90%;
        /* border: 1px solid blue; */
        margin-left: 20px;
        color: white;
    }

    .dtl img{
        height: 10px;
    }

    .dtl:nth-of-type(1){
        background-color: green;
        height: 50px;
        padding: 15px;
         border-radius: 10px;
         display: flex;
         justify-content: space-around;

    }

     .dtl:nth-of-type(2){
        background-color: green;
        margin-top: 40px;
          height: 50px;
            padding: 15px;
             border-radius: 10px;
               display: flex;
         justify-content: space-around;

    }

     .dtl:nth-of-type(3){
        background-color: green;
          margin-top: 40px;
            height: 40px;
              padding: 10px;

    }

    .area{
        display: flex;
        justify-content: space-around;
        background-color: green;
        margin-top: 50px;
        height: 50px;
        padding: 6px;
        width: 90%;
        margin-left: 20px;
        border-radius: 10px;
        color: white;
    }

    .area img{
        height: 40px;
    }
    .area p{
        margin-top: 7px;
    }

    #hec{
        position: absolute;
        top: 74%;
        right: 24%;
    }

    #border{
        border: 2px solid black;
        width: 12%;
         position: absolute;
        top: 77%;
        right: 24%;
    }

    #line{
         border: 2px solid black;
        width: 12%;
         position: absolute;
        top: 74%;
        right: 24%;
    }

    .btn{
        text-align: center;
        margin-top: 80px;
         /* border: 1px solid blue; */
    }

    .btn button{
        background-color: yellow;
        height: 39px;
        width: 50%;
         border-radius: 10px;
         border: 4px solid black;
         font-size: 18px;
    }
    
    .home-section{
        display: flex;
        width: 100%;
        height: 104px;
        margin-top: 105px;
        background-color: white;
        /* border: 1px solid blue; */
        padding-top: 10px;
        justify-content: space-around;
    }

    .home-section img{
        width: 50px;
        height: 80px;
        /* border: 1px solid blue; */
        position: relative;
        bottom: 1px;
        /* margin-left: 40px; */
    }
}
