*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 430px) {
    body{
        background-image: url(bck.png);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

     .fert{
        /* width: 60%; */
        /* border: 1px solid blue; */
        text-align: center;
    }

       .fert img{
        width: 100%;
    }

    .fert h3{
        position: absolute;
         top: 90px;
        left: 90px;
        font-size: 30px;
        text-align: center;
    }

    .coco{
        display: flex;
        justify-content: center;
        gap: 20%;
        margin-top: 10%;
    }

    .cnt{
        width: 50%;
        height: 4vh;
        background-color: green;
        text-align: center;
        padding: 2%;
        font-size: 19px;
        margin-left: 3%;
    }

    .week{
        width: 30%;
        height: 4vh;
        background-color: rgb(73, 118, 200);
        text-align: center;
          padding: 2%;
        font-size: 19px;
        margin-right: 3%;
    }

    .orange{
        background-color: orange;
        height: 40vh;
        padding: 4%;
        margin-top: 9%;
    }
    .yo{
        display: flex;
        justify-content: space-around;
    }

    .yo img{
        width: 14vw;
        height: 9vh;
    }

    .big p{
        font-size: 17px;
    }

    .tg{
        margin-left: 60%;
    }

    .tg input{
        width: 60%;
        height: 3.5vh;
          border-top-left-radius: 9px;
        border-bottom-left-radius: 10px;
        /* background-color:  */

    }

    .tg button{
        width: 30%;
        height: 1%;
        /* margin-right: 19%; */
        position: relative;
        right: 3%;
        top: 6px;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 10px;
        background-color: green;
    }

    .two-divs{
        display: flex;
        justify-content: center;
        gap: 7%;
        margin-top: 10%;
    }

    .one{
        display: flex;
        justify-content: center;
        gap: 4%;
        background-color: palevioletred;
        border-radius: 10px;
         border: 2px solid black;
         width: 40%;
    } 

    .one img{
        height: 3vh;
    }

    .one p{
        margin-top: 3%;
    }

    .two{
         display: flex;
        justify-content: center;
        gap: 4%;
        background-color: rgb(17, 176, 33);
        border-radius: 10px;
        border: 2px solid black;
          width: 40%;
    }

    .two img{
        height: 3vh;
    }

    .two p{
         margin-top: 3%;
    }

}