*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 430px) {
    /* market */
    body{
        background-image: url(bck.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #mrk{
        width: 100%;
        height: 210px;
    }

    .featured{
        display: flex;
        justify-content: space-around;
        margin-top: 36px;
        font-size: 20px;
    }

    .featured button{
        width: 54px;
        background-color: white;
        border-radius: 20px;
    }

    .featured button:nth-of-type(1){
        background-color: green;
        color: white;
    }

    .npk{
        margin-top: 40px;
    }

    .npk1{
        display: flex;
        justify-content: space-around;
        background-color: rgb(252, 248, 248);
    }
    .npk1 img{
        width: 40%;
    }

    .shii{
        margin-top: 14px;
    }

    .npk1:nth-of-type(1){
        margin-top: 30px;
    }

     .npk1:nth-of-type(2){
        margin-top: 30px;
    }

     .npk1:nth-of-type(3){
        margin-top: 30px;
    }

    .npk1 button{
        border: 1px solid yellow;
        padding: 7px;
        margin-bottom: 5px;
        border-radius: 20px;
    }


}