*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 430px) {

    body{
        background-color: rgb(233, 227, 227);
        /* overflow-x: hidden ; */
    }
    .orders{
        height: 7%;
    }

    .orders img{
        height: 20vh;
        width: 100%;
    }

    #cap{
        width: 20%;
        position: absolute;
        bottom: 80%;
        left: 70%;
    }

    .order{
        display: flex;
        justify-content: start;
        gap: 20%;
        margin-left: 5%;
        margin-top: 5%;
    }

    .order img{
        width: 38%;
    }

    .main{
        height: 40%;
        /* border: 1px solid blue; */
        text-align: center;
        margin-top: 6%;
        margin-left: 5%;
        margin-right: 3%;
        background-color: wheat;
        width: 90%;
        
    }

    .mage{
        height: 10%;
         /* border: 1px solid blue; */
         display: flex;
         justify-content: space-around;
         background-color: white;
         margin-left: 10%;
         width: 80%;
         margin-top: 5%;
         margin-bottom: 4%;

    }

    .mage img{
        width: 24%;
        /* height: 40%; */
    }

    .p img{
        width: 7%;
    }

    .p img:nth-of-type(1){
        position: absolute;
        right: 41%;
        /* top: 50%; */
          width: 3%;

    }

    .home-section{
        display: flex;
        width: 100%;
        height: 8vh;
        margin-top: 11vh;
        background-color: white;
        /* border: 1px solid blue; */
        padding-top: 10px;
        justify-content: space-around;
    }

    .home-section img{
        width: 50px;
        height: 7vh;
        /* border: 1px solid blue; */
        position: relative;
        bottom: 1px;
        /* margin-left: 40px; */
    }
}