*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 430px) {

    body{
        background-color: rgb(199, 193, 193);
    }
    .payment-btn{
       text-align: center;
       margin-top: 30px;
    }

    a{
        text-decoration: none;
    }

    .payment-btn button{
         background-color: white;
        color: black;
        width: 90%;
        height: 60px;
        border-radius: 10px;
        padding-right: 150px;
        font-size: 19px;
    }

    img{
        width: 80%;
        margin-top: 120px;
        margin-left: 50px;
    }

    .h3{
        text-align: center;
        margin-top: 120px;
        background-color: transparent;
        /* width: 60%; */
    }

    .h3 h3{
        background-color: black;
        color: white;
        width: 80%;
         margin-left: 50px;
         height: 50px;
         padding: 10px;
         font-size: 27px;
    }

    .home-section{
        display: flex;
        /* width: 60%; */
        height: 80px;
        margin-top: 50px;
        background-color: white;
        /* border: 1px solid blue; */
        /* padding-bottom: 900px; */
    }

    .home-section img{
        width: 40px;
        height: 50px;
        /* border: 1px solid blue; */
        position: relative;
        bottom: 105px;
        /* margin-bottom: 800px; */
    }
}