*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(saman\ back.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}


@media screen and (max-width: 430px){
  /* saman */
  
  .sixthback{
    width: 100%;
  }

  .sixthback img{
    width: 100%;
    height: 25vh;
  }

  .sixthback h1{
    position: absolute;
    top: 15%;
    left: 5%;
    color: white;
  }

  #farm{
    width: 30%;
    position: absolute;
    left: 66%;
    top: 10%;
  }

  .ewo{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20%;
    margin-left: 10%;
  }

  .ewo img{
    width: 120%;
    height: 120%;
  }

  .home{
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color: black;
    width: 70%;
    color: white;
    margin-top: 30%;
    margin-left: 12%;
  }

  .home h5,
  .home p{
    margin-top: 3%;
  }

  /* .ewo img:nth-of-type(1){
    border: 4px solid green;
  }

  .ewo img:nth-of-type(2){
    border: 4px solid blue;
  }

  .ewo img:nth-of-type(4){
    border: 4px solid palevioletred;
  } */


  .home img{
    width: 8vw;
    height: 6vh;
  }

   .home-section{
        display: flex;
        width: 100%;
        height: 8vh;
        margin-top: 11vh;
        background-color: white;
        /* border: 1px solid blue; */
        padding-top: 10px;
        justify-content: space-around;
    }

    .home-section img{
        width: 50px;
        height: 7vh;
        /* border: 1px solid blue; */
        position: relative;
        bottom: 1px;
        /* margin-left: 40px; */
    }
}
